body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Fondo más claro para un look minimalista */
}

#chatbox {
    width: 60%;
    height: 80vh;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Oculta el desbordamiento y permite que las curvas se apliquen en toda la caja */
}

#header {
    background-color: #333; /* Un color oscuro para el header para mayor contraste */
    color: #fff; /* Texto blanco para contraste */
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px; /* Un tamaño de fuente más grande */
}

#messages {
    flex-grow: 1; /* Permite que los mensajes ocupen todo el espacio disponible */
    padding: 20px;
    overflow-y: auto;
    background-color: #f9f9f9; /* Un color levemente más oscuro que el del body para diferenciar la sección */
}

#input {
    background-color: #fff;
    padding: 10px;
    display: flex;
    border-top: 1px solid #e0e0e0; /* Línea divisoria para separar el input del área de mensajes */
}

#input input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    margin-right: 10px; /* Espaciado entre el input y el botón enviar */
}

#input button {
    background-color: #4CAF50; /* Color estilo Material Design para el envío */
    color: white;
    border: none;
    padding: 10px 20px; /* Un poco más de padding horizontal */
    cursor: pointer;
    transition: background-color 0.2s; /* Transición suave del color */
}

#input button:hover {
    background-color: #388E3C; /* Un tono más oscuro al pasar el cursor */
}

#chatlist {
    position: fixed;
    left: 1%;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #444; /* Un gris más oscuro que combine con el header */
    color: #fff;
    padding: 20px;
    overflow-y: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#chatlist button {
    display: block;
    width: calc(100% - 20px); /* Con en cuenta el padding */
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #555; /* Un contraste suave */
    color: white;
    cursor: pointer;
    text-align: left;
}

#chatlist button:hover {
    background-color: #666; /* Ligeramente más oscuro para el hover */
}

#addChat {
    background-color: #212121; /* Un gris muy oscuro para que el botón resalte */
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px; /* Margen para que no se pegue al último botón de chat */
    cursor: pointer;
    text-align: center;
    display: block; /* Aseguramos que se muestre en bloque */
}

#addChat:hover {
    background-color: #3a3a3a; /* Ligeramente más oscuro al pasar el mouse */
}

#actionButtons {
    margin-top: auto; /* Empuja la sección de botones hacia abajo */
    padding-top: 20px; /* Espacio arriba de los botones de acción */
    border-top: 1px solid #666; /* Separador visual */
}

#actionButtons button {
    background-color: #333; /* Darle un color distinto para diferenciar acciones */
    /* Tus otros estilos para botones... */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px; /* Optional: for rounded corners */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}