@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

h1 {
    font-family: 'Fredoka', regular;
    font-size: 48px;
}

h3 {
    font-family: "Open Sans", regular;
}

p {
    font-family: "Open Sans", regular;
    text-align: justify;
}

h1.nombre, h2 {
    font-family: 'Bebas Neue', sans-serif; /* Fuente con carácter y fuerza */
    color: #f1c40f; /* Un buen amarillo 'Freddie Mercury' */
    text-transform: uppercase; /* A todo gas y en mayúsculas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Una sombra para que resalte como debe */
    margin-bottom: 0.5em; /* Espacio óptimo debajo del título */
}

h2 {
    font-size: 2.2em; /* Un poco más pequeño que el título principal */
    padding-bottom: .3em; /* Pequeño espacio debajo para una separación visual clara */
    border-bottom: 2px solid #e8491d; /* Una línea para separar del contenido */
    display: inline-block; /* Esto permite que la línea tenga solo el largo del texto */
    margin-bottom: 20px; /* Espacio debajo antes del contenido */
}

h2:hover {
    border-bottom: 2px solid #ffffff;
    transition: border-color 0.3s;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0a0a0a; /* Fondo oscuro para dar un toque más 'rockero' */
    color: #ffffff; /* Texto en color blanco para contraste */
    line-height: 1.6; /* Espaciado de línea para mejor legibilidad */
    margin: 0;
    padding: 0;
}

.nombre {
    margin-bottom: 0px;
}

header {
    background: #1a1a1a; /* Un gris oscuro para la cabecera */
    color: #f1c40f; /* Un amarillo-rojo, para dar un toque a tus héroes del rock */
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid; /* Una línea roja para separar el encabezado del contenido */
}

header .nombre {
    font-size: 2.5em; /* Un tamaño más grande para tu nombre */
}



.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav ul {
    list-style: none;
    display: flex;
    font-family: "Open Sans", regular;
}

header nav ul li {
    display: inline;
    padding: 0 20px 0 20px;
}
header nav ul li a {
    color: #f1c40f;
    text-decoration: none;
    text-transform: uppercase; /* MAYÚSCULAS para un aspecto más fuerte */
}

nav ul li a {
    color: #106BC7;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #ffffff;
    font-weight: bold;
}

nav ul li :hover {
    color: #2D9BF0;
    text-decoration: none;
}
.b {
    background-color: #e8491d; /* Color rojizo para destacar */
    color: white;
    border: none;
    border-radius: 5px; /* Bordes redondeados para un look más moderno */
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer; /* Para que se sepa que es un botón */
}

.b:hover {
    background-color: #f1c40f; /* Cambio a amarillo al pasar el ratón */
}

.b svg {
  margin-right: 5px;
}

.title {
    background-color: #e8491d;
    border-radius: 20px;
  justify-content: center; /* Alinear verticalmente y centrar horizontalmente */
  text-align: center; /* Centrar el texto */
    display: flex;
  align-items: flex-start; /* Alinear elementos al inicio verticalmente */

}

.title h1 {
    margin-left: 10px;
    font-size: 64px;
    color: #106BC7;
}

#me-image {
    border-radius: 100%;
    align-content: center;
    margin-left: 300px;
    margin-bottom: 10px;}
#sobre-mi{
    display: flex; /* Crea un contenedor flexible */
  align-items: center;
}

.texto {
    margin-left: 10px;
    margin-right: 300px;
}

.card {
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .5s;
}

.content h2, a {
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
}

.card:hover .content {
    opacity: 1;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}